<template>
  <v-snackbar
    :top="true"
    :timeout="5000"
    v-model="snackbar"
    :color="alert.type"
    transition="scale-transition"
  >
    <v-icon color="white" v-html="alert.icon"></v-icon>
    <div class="ml-1">{{ alert.message }}</div>
    <v-spacer></v-spacer>
    <v-btn dark text icon @click="snackbar = false">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapGetters } from "vuex";

export default Vue.extend({
  data() {
    return {
      snackbar: false
    };
  },
  computed: {
    ...mapGetters("alert", {
      alert: "alert"
    })
  },
  watch: {
    alert() {
      this.snackbar = true;
    }
  }
});
</script>

<style scoped></style>
