<template>
  <v-app-bar dark app dense>
    <v-toolbar-title class="mr-4"><strong>Calc</strong> Road</v-toolbar-title>
    <v-toolbar-items ligth v-show="isAuth">
      <v-btn :to="toEdit" text>
        <v-icon left dark>mdi-circle-edit-outline</v-icon> Edition
      </v-btn>
      <v-btn :to="{ name: 'simulation', params: $route.params }" text>
        <v-icon left dark>mdi-play-circle</v-icon> Simulation
      </v-btn>
    </v-toolbar-items>
    <v-spacer />
    <v-btn v-if="!isAuth" :to="{ name: 'login' }" icon>
      <v-icon color="green">mdi-login</v-icon>
    </v-btn>
    <v-btn v-else :to="{ name: 'logout' }" icon>
      <v-icon color="red">mdi-logout</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

export default Vue.extend({
  computed: {
    ...mapGetters("user", {
      isAuth: "isAuthenticated"
    }),
    toEdit() {
      return this.$route.params.map !== undefined
        ? { path: `/edit/${this.$route.params.map}` }
        : { path: "/edit" };
    }
  }
});
</script>

<style scoped></style>
