<template>
  <v-overlay :absolute="absolute" :value="overlay" @ready="catchReady">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </v-overlay>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: () => ({
    absolute: true,
    overlay: false
  }),
  mounted() {
    this.overlay = true;
    // eslint-disable-next-line no-console
    console.log("loading is on.");
  },
  destroyed() {
    this.overlay = false;
    // eslint-disable-next-line no-console
    console.log("loading is off.");
  },
  methods: {
    catchReady() {
      this.overlay = false;
    }
  }
});
</script>

<style scoped></style>
