<template>
  <vee-observer ref="obs" v-slot="{ invalid, validated, passes, validate }">
    <v-form @submit.prevent="passes(submit)">
      <list-base title="Paramètres" icon="mdi-settings">
        <v-card-text>
          <v-text-field
            rules="required"
            v-model="name"
            label="Nom de la carte"
            clearable
          />
          <v-switch
            v-model="isPublic"
            label="public ?"
            color="primary"
            flat
          ></v-switch>
        </v-card-text>
        <template v-slot:actions>
          <v-btn color="primary" text type="submit">
            Modifier
          </v-btn>
          <v-btn color="red" text @click="delMap">
            Supprimer
          </v-btn>
        </template>
      </list-base>
    </v-form>
  </vee-observer>
</template>

<script lang="ts">
import Vue from "vue";
import mapService from "../../services/map";

import VTextField from "@/components/base/VTextField.vue";

export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue"),
    VTextField
  },
  data() {
    return {
      name: "",
      isPublic: false
    };
  },
  methods: {
    submit() {
      let data = {
        title: this.name,
        public: this.isPublic
      };
      mapService
        .update_map(this.$route.params.map, data)
        .then((resp: any) => {});
    },
    delMap() {
      mapService.delete_map(this.$route.params.map).then((reps: any) => {
        this.$router.push({ name: "no-map" });
      });
    }
  },
  mounted() {
    mapService.get_map(this.$route.params.map).then((resp: any) => {
      this.name = resp.data.title;
      this.isPublic = resp.data.public;
    });
  }
});
</script>

<style scoped></style>
