<template>
  <v-toolbar :dense="dense" :prominent="!dense" @click.up="slideStop()">
    <!-- Helps to map -->
    <v-toolbar-items>
      <v-btn
        :title="'accélérer (x' + speed + ').'"
        @click="downSpeed()"
        :x-large="!dense"
        :large="dense"
        icon
      >
        <v-icon v-html="'mdi-rewind'"></v-icon>
      </v-btn>
      <v-btn
        :title="'accélérer (x' + speed + ').'"
        :x-large="!dense"
        :large="dense"
        disabled
        text
        icon
      >
        <v-icon v-html="'x' + speed" id="v-icon"></v-icon>
      </v-btn>
      <v-btn
        :title="'accélérer (x' + speed + ').'"
        @click="upSpeed()"
        :x-large="!dense"
        :large="dense"
        icon
      >
        <v-icon v-html="'mdi-fast-forward'"></v-icon>
      </v-btn>
      <v-btn
        @click="switchPlayer(!isPlaying)"
        :disabled="disabled"
        v-if="!isPlaying"
        :x-large="!dense"
        :large="dense"
        icon
      >
        <v-icon>mdi-play-circle</v-icon>
      </v-btn>
      <v-btn
        @click="switchPlayer(!isPlaying)"
        :x-large="!dense"
        v-if="isPlaying"
        :large="dense"
        icon
      >
        <v-icon>mdi-pause-circle</v-icon>
      </v-btn>
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <!-- Player Handler TODO: bind to the store -->
    <v-toolbar-items>
      <input type="time" :value="formatTime(current)" :readonly="true" />
      <v-slider
        v-model="current"
        :min="startTime"
        :max="endTime"
        style="width: 40vw; margin-top: 1%;"
        @mousedown="slideStart()"
      ></v-slider>
      <input type="time" width="auto" v-model="end" :readonly="isPlaying" />
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <!-- icons -->
    <v-toolbar-items>
      <v-btn link text :small="!dense" :extended="dense" v-if="false">
        <div class="d-block text-center pa-0">
          <v-icon color="red" v-html="'mdi-file-pdf'"></v-icon>
          <h6 v-if="!dense">Export</h6>
        </div>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

export default Vue.extend({
  data() {
    return {
      dense: true,
      current: 0,
      start: "",
      end: "",
      sliding: false
    };
  },
  computed: {
    ...mapGetters("simulation", [
      "currentTime",
      "isPlaying",
      "startTime",
      "disabled",
      "endTime",
      "speed"
    ])
  },
  watch: {
    start() {
      // touch start if paused, else current
      this.update_start(this.formatTimestamp(this.start));
    },
    end() {
      this.update_end(this.formatTimestamp(this.end));
    },
    currentTime() {
      this.current = this.currentTime;
    },
    current() {
      this.update_current(this.current);
    },
    endTime() {
      this.end = this.formatTime(this.endTime);
    }
  },
  mounted() {
    this.start = this.formatTime(this.startTime);
    this.current = this.currentTime;
    this.end = this.formatTime(this.endTime);
  },
  methods: {
    ...mapActions("simulation", [
      "update_current",
      "switchPlayer",
      "update_start",
      "update_end",
      "downSpeed",
      "upSpeed"
    ]),
    formatTimestamp(time: string): number {
      let TIME = [3600, 60, 1];
      return time
        .split(":")
        .map((val: string, index: number) => Number(val) * TIME[index])
        .reduce((c: number, r: number) => c + r);
    },
    formatTime(sec: number): string {
      let d = new Date();
      d.setHours(0, 0, sec);
      return String(d).substr(16, 8);
    },
    slideStart() {
      this.$store.state.simulation.player = false;
      this.sliding = true;
    },
    slideStop() {
      if (this.sliding) {
        this.$store.state.simulation.reload = true;
        this.sliding = false;
      }
    }
  }
});
</script>

<style scoped>
#v-icon {
  font-style: normal;
  font-weight: bold;
  font-size: 120% !important;
  padding-top: 3px;
}
</style>
