<template>
  <list-base
    title="Utilisateurs"
    icon="mdi-account-multiple"
    :loading="isLoading"
  >
    <add-users
      v-if="$route.name === 'edit-users-add'"
      @update:users="updateUsers"
      :users="users"
    ></add-users>
    <v-list-item
      :disabled="isLoading"
      v-for="user in users"
      :ripple="false"
      :key="user.id"
      inactive
    >
      <v-list-item-content style="width: min-content;">
        <v-list-item-title v-html="user.email"></v-list-item-title>
        <v-list-item-subtitle
          v-html="user.first_name + ' ' + user.last_name"
        ></v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-icon>
        <v-btn icon small @click="deleteUser(user.id)" v-if="!user.owner">
          <v-icon>
            mdi-delete
          </v-icon>
        </v-btn>
        <v-btn icon small @click="updateUser(user, 'owner')">
          <v-icon :color="user.owner ? 'green' : 'red'">
            mdi-alpha-o
          </v-icon>
        </v-btn>
        <v-btn icon small @click="updateUser(user, 'write')">
          <v-icon :color="user.write ? 'green' : 'red'">
            mdi-alpha-w
          </v-icon>
        </v-btn>
        <v-btn icon small @click="updateUser(user, 'read')">
          <v-icon :color="user.read ? 'green' : 'red'">
            mdi-alpha-r
          </v-icon>
        </v-btn>
      </v-list-item-icon>
    </v-list-item>
    <template v-slot:actions>
      <v-btn v-if="$route.name !== 'edit-users'" :to="{ name: 'edit-users' }">
        Retour
      </v-btn>
      <v-btn v-else color="green" outlined :to="{ name: 'edit-users-add' }">
        Ajouter
      </v-btn>
    </template>
  </list-base>
</template>

<script lang="ts">
import Vue from "vue";
import mapService from "../../services/map";
import UsersAdd from "./UsersAdd.vue";

export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue"),
    "add-users": UsersAdd
  },
  data() {
    return {
      users: [],
      isLoading: false
    };
  },
  methods: {
    deleteUser(id: string) {
      mapService
        .delete_map_user(this.$route.params.map, id)
        .then((resp: any) => {
          this.$store.dispatch(
            "alert/success",
            `Utilisateur ${resp.data.mail} a été supprimé.`,
            { root: true }
          );
          this.updateUsers();
        })
        .catch((err: any) => {
          this.$store.dispatch("alert/warning", "Utilisateur non supprimé.", {
            root: true
          });
        });
    },
    updateUser(user: any, key: string) {
      let query = {
        owner: user.owner,
        write: user.write,
        read: user.read
      };

      switch (key) {
        case "owner":
          query.write = query.write ? query.write : !query.write;
          query.read = query.read ? query.read : !query.read;
          query.owner = !query.owner;
          break;
        case "write":
          query.owner = query.owner ? !query.owner : query.owner;
          query.read = query.read ? query.read : !query.read;
          query.write = !query.write;
          break;
        case "read":
          query.owner = query.owner ? !query.owner : query.owner;
          query.write = query.write ? !query.write : query.write;
          query.read = !query.read;
          break;
      }
      this.isLoading = true;
      mapService
        .update_map_user(this.$route.params.map, user.id, query)
        .then((resp: any) => {
          this.isLoading = false;
        })
        .catch((err: any) => {
          this.isLoading = false;

          this.$store.dispatch("alert/warning", "Permissions non modifiées.", {
            root: true
          });
        });
      this.updateUsers();
    },
    updateUsers() {
      mapService
        .get_map_users(this.$route.params.map)
        .then((resp: any) => {
          this.users = resp.data.map((user: any) => {
            let repr = {
              ...user.user,
              read: user.read,
              write: user.write,
              owner: user.owner
            };
            return repr;
          });
        })
        .catch((err: any) => {});
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.updateUsers();
    });
  }
});
</script>

<style scoped></style>
