<template>
  <vee-observer ref="obs" v-slot="{ invalid, validated, passes, validate }">
    <v-card-text style="padding-top: 0">
      <v-autocomplete
        label="Rechercher un utilisateur"
        v-model="user"
        :items="items"
        :search-input.sync="search"
        :loading="isLoading"
        no-filter
        full-width
        clearable
      >
        <template v-slot:selection="{ item }">
          <v-list-item-content>
            {{ item.email }}
          </v-list-item-content>
        </template>
        <template v-slot:item="{ item }">
          <v-list-item-content>
            <v-list-item-title v-html="item.email"></v-list-item-title>
            <v-list-item-subtitle
              v-html="item.first_name + ' ' + item.last_name"
            ></v-list-item-subtitle>
          </v-list-item-content>
        </template>
      </v-autocomplete>
    </v-card-text>
  </vee-observer>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

import userServices from "../../services/user";
import mapServices from "../../services/map";

export default Vue.extend({
  props: {
    users: {
      type: Array
    }
  },
  data() {
    return {
      user: "",
      search: "",
      isLoading: false,
      items: []
    };
  },
  watch: {
    search: function(val: string = "") {
      this.isLoading = true;
      let queryParams = [null, ""].includes(val) ? "" : `query=${val}`;
      let _users_id: Array<any> = this.users.map((user: any) => user.id);

      userServices.get_users(queryParams).then((resp: any) => {
        this.items = resp.data.filter((user: any) => {
          return !_users_id.includes(user.id);
        });
        this.isLoading = false;
      });
    },
    user: async function() {
      if (this.user !== "")
        await mapServices.add_map_users(this.$route.params.map, this.user);
      this.$emit("update:users");

      this.items = [];
      this.user = "";
    }
  },
  destroyed() {
    this.$emit("update:users");
  }
});
</script>

<style>
.v-list-item__content + input {
  max-width: 10px;
}
</style>
