<template>
  <v-row class="fill-height">
    <nav-bar v-once></nav-bar>
    <v-col cols="auto">
      <list-roads v-if="$route.name === 'edit-roads'"></list-roads>
      <list-journeys v-if="$route.name === 'edit-journeys'"></list-journeys>
      <list-events v-if="$route.name === 'edit-events'"></list-events>

      <detail-road
        v-if="$route.name === 'edit-roads-detail'"
        :key="$route.fullPath"
      ></detail-road>
      <detail-journey
        v-if="$route.name === 'edit-journeys-detail'"
        :key="$route.fullPath"
      ></detail-journey>

      <list-users
        v-if="['edit-users', 'edit-users-add'].includes($route.name)"
      ></list-users>
      <map-settings v-if="$route.name === 'edit-settings'"></map-settings>
    </v-col>
    <v-col>
      <router-view :key="$route.params.map"></router-view>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from "vue";
import RoadList from "@/components/geometry/RoadList.vue";
import JourneyList from "@/components/geometry/JourneyList.vue";
import EventList from "@/components/geometry/EventList.vue";
import DetailRoad from "@/components/geometry/RoadDetail.vue";
import DetailJourney from "@/components/geometry/JourneyDetail.vue";
import EditNavBar from "@/components/geometry/EditNavBar.vue";
import UsersList from "@/components/user/UsersList.vue";
import MapSettings from "@/components/user/MapSettings.vue";

import { LatLng, latLng } from "leaflet";
import guards from "../router/guards";

export default Vue.extend({
  components: {
    "nav-bar": EditNavBar,
    "list-roads": RoadList,
    "list-journeys": JourneyList,
    "list-events": EventList,
    "detail-road": DetailRoad,
    "detail-journey": DetailJourney,
    "list-users": UsersList,
    "map-settings": MapSettings
  }
});
</script>

<style scoped>
.fill-heigth {
  height: 85vh;
}
</style>
