<template>
  <div>
    <simu-player></simu-player>
    <v-container fluid class="d-block">
      <v-row class="fill-height">
        <v-col
          :cols="index < maps.length - 1 || maps.length % 2 === 0 ? '6' : '12'"
          v-for="(id, index) in maps"
          class="sim-map"
          :key="id"
        >
          <simu-map :id="id"></simu-map>
        </v-col>
        <v-col cols="auto">
          <v-btn color="pink" dark small fab @click="OpenMapIsOn = true">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <open-map
      v-if="OpenMapIsOn === true"
      :isOn.sync="OpenMapIsOn"
      :redirect.sync="redirect"
      :disable="maps"
      scope="read"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import SimulationPlayer from "@/components/user/SimulationPlayer.vue";
import SimulationService from "../services/simulation";

export default Vue.extend({
  components: {
    "simu-player": SimulationPlayer,
    "simu-map": () => import("@/components/map/SimulationMap.vue"),
    "open-map": () => import("@/components/forms/OpenMap.vue")
  },
  data() {
    return {
      OpenMapIsOn: false,
      redirect: "",
      maps: [],
      first: false
    };
  },
  watch: {
    redirect: function(val: string) {
      if (val !== "")
        SimulationService.run_simulation(val)
          .then((resp: any) => {
            let maps = this.$route.query.maps
              ? this.$route.query.maps + ","
              : "";
            maps += val;
            this.$router.push({
              name: "simulation",
              query: { maps: maps },
              params: this.$route.params
            });
            this.$store.dispatch(
              "alert/success",
              "La simulation a été calculé.",
              { root: true }
            );
          })
          .catch((err: any) => {
            this.$store.dispatch(
              "alert/error",
              "La simulation a été un échec.",
              {
                root: true
              }
            );
          });

      this.redirect = "";
    },
    "$route.query"(val: any) {
      this.maps = val.maps ? val.maps.split(",") : [];
    }
  },
  mounted() {
    this.$nextTick(() => {
      // @ts-ignore
      // eslint-disable-next-line prettier/prettier
      this.maps = this.$route.query.maps ? `${this.$route.query.maps}`.split(",") : [];
      this.first = true;
    });
  }
});
</script>

<style scoped>
.sim-map {
  min-height: 70vh;
}
</style>
