<template>
  <v-list-item
    v-bind="$attrs"
    v-on="$listeners"
    class="d-block text-center pa-0"
  >
    <v-list-item-content>
      <v-icon>{{ icon }}</v-icon>
      <h5>{{ label }}</h5>
    </v-list-item-content>
  </v-list-item>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    icon: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    }
  }
});
</script>

<style scoped></style>
