<template>
  <v-card :loading="loading">
    <v-toolbar>
      <v-icon class="ml-2 mr-4" large>{{ icon }}</v-icon>
      <v-toolbar-title> {{ title }}</v-toolbar-title>
      <v-spacer />
      <v-btn icon small :to="{ name: 'edit', params: $route.params }">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-list dense>
        <v-list-item-group class="scroll">
          <slot />
        </v-list-item-group>
      </v-list>
    </v-card-text>
    <v-card-actions class="justify-center">
      <slot name="actions" />
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    title: {
      type: String,
      default: "ListObject"
    },
    icon: {
      type: String,
      default: "mdi-square"
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
});
</script>

<style scoped>
.v-card {
  min-width: 280px;
}
.scroll {
  max-height: 68vh;
  overflow-y: auto;
}
</style>
