<template>
  <vee-provider :name="$attrs.label" :rules="rules" v-slot="{ errors, valid }">
    <v-checkbox
      v-model="innerValue"
      :error-messages="errors"
      :success="valid"
      v-bind="$attrs"
      v-on="$listeners"
    />
  </vee-provider>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    rules: {
      type: [Object, String],
      default: ""
    },
    // must be included in props
    value: {
      type: Boolean
    }
  },
  data: () => ({
    innerValue: false
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal: any): any {
      this.$emit("input", newVal);
    },
    // Handles external model changes.
    value(newVal: any): any {
      this.innerValue = newVal;
    }
  },
  created(): any {
    if (this.value) {
      this.innerValue = this.value;
    }
  }
});
</script>
