<template>
  <vee-provider
    :vid="vid"
    :name="$attrs.label"
    :rules="rules"
    v-slot="{ errors, valid }"
  >
    <v-text-field
      v-model="innerValue"
      :error-messages="errors"
      :success="valid"
      v-bind="$attrs"
      v-on="$listeners"
    />
  </vee-provider>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    vid: {
      type: String
    },
    rules: {
      type: [Object, String],
      default: ""
    },
    // must be included in props
    value: {
      type: String
    }
  },
  data: () => ({
    innerValue: ""
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal: any): any {
      this.$emit("input", newVal);
    },
    // Handles external model changes.
    value(newVal: any): any {
      this.innerValue = newVal;
    }
  },
  created(): any {
    if (this.value) {
      this.innerValue = this.value;
    }
  }
});
</script>
