<template>
  <v-col cols="auto" class="grid-list-md">
    <v-list elevation="2">
      <v-list-item-group v-if="$route.params.map">
        <centered-button
          icon="mdi-map-legend"
          label="Routes"
          :to="openOrClose('edit-roads')"
        />
        <centered-button
          icon="mdi-home-city"
          label="Trajets"
          :to="openOrClose('edit-journeys')"
        />
        <centered-button icon="mdi-alert" label="Incicents" disabled link />
        <centered-button
          icon="mdi-account-multiple-plus"
          label="Utililateurs"
          :to="openOrClose('edit-users')"
        />
        <centered-button
          icon="mdi-play-circle"
          label="Lancer"
          :to="{
            name: 'simulation',
            params: $route.params,
            query: { maps: $route.params.map }
          }"
        />
        <v-divider></v-divider>
      </v-list-item-group>
      <v-list-item-group>
        <centered-button
          icon="mdi-plus"
          label="Créer"
          inactive
          @click="NewMapIsOn = true"
        />
        <centered-button
          icon="mdi-folder"
          label="Ouvrir"
          inactive
          @click="OpenMapIsOn = true"
        />
        <centered-button
          icon="mdi-settings"
          label="Modifier"
          :to="openOrClose('edit-settings')"
          v-if="$route.params.map"
        />
      </v-list-item-group>

      <new-map
        v-if="NewMapIsOn === true"
        :isOn.sync="NewMapIsOn"
        :redirect.sync="redirect"
      />
      <open-map
        v-if="OpenMapIsOn === true"
        :isOn.sync="OpenMapIsOn"
        :redirect.sync="redirect"
        scope="write"
      />
    </v-list>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  components: {
    CenteredButton: () => import("../base/CenteredButton.vue"),
    OpenMap: () => import("../forms/OpenMap.vue"),
    NewMap: () => import("../forms/NewMap.vue")
  },
  data() {
    return {
      NewMapIsOn: false,
      OpenMapIsOn: false,
      redirect: ""
    };
  },
  methods: {
    openOrClose(to: string): Object {
      return this.$route.name === to
        ? { name: "edit", params: this.$route.params }
        : { name: to };
    }
  },
  watch: {
    redirect: function(val: string) {
      if (this.$route.name === "no-map" || val !== this.$route.params.map)
        this.$router.push({ name: "edit", params: { map: val } });
    }
  }
});
</script>

<style scoped>
.v-list-item__content {
  display: inline-grid;
}
</style>
