<template>
  <list-base title="Incidents" icon="mdi-alert">
    <v-list-item
      v-for="event in events"
      :key="event.id"
      :to="{
        name: 'edit-events-detail',
        params: { id: `${event.id}`, map: $route.params.map }
      }"
    >
      <v-list-item-icon>
        <v-icon>mdi-square</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        {{ event.name }} - {{ event.id }}
      </v-list-item-content>
    </v-list-item>
  </list-base>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue")
  },
  computed: {
    ...mapGetters("edit", ["events"])
  }
});
</script>

<style scoped></style>
