<template>
  <vee-observer ref="obs" v-slot="{ invalid, validated, passes, validate }">
    <v-form @submit.prevent="passes(submit)">
      <list-base :title="'Trajet ' + $route.params.id" icon="mdi-home-city">
        <v-card-text>
          <v-text-field
            rules="required"
            v-model="name"
            label="Nom du trajet Domicile - Travail"
          />
          <v-text-field
            rules="required"
            v-model="start_time"
            label="Heure de départ"
            type="time"
          />
          <v-text-field
            rules="required|numeric|between:1,50"
            v-model="nbCars"
            label="Nombre de véhicules"
          />
        </v-card-text>
        <template v-slot:actions>
          <v-btn color="primary" text type="submit">
            Modifier
          </v-btn>
          <v-btn color="red" text @click="del">Supprimer</v-btn>
        </template>
      </list-base>
    </v-form>
  </vee-observer>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

import journeysServices from "../../services/journeys";

import VTextField from "@/components/base/VTextField.vue";
import { GeometryJourneysBase } from "../../models/geometry";

function formatTime(sec: number): string {
  let d = new Date();
  d.setHours(0, 0, sec);
  return String(d).substr(16, 8);
}

function formatTimestamp(time: string): number {
  let TIME = [3600, 60, 1];
  return time
    .split(":")
    .map((val: string, index: number) => Number(val) * TIME[index])
    .reduce((c: number, r: number) => c + r);
}

export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue"),
    VTextField
  },
  data() {
    return {
      name: "",
      start_time: "",
      nbCars: ""
    };
  },
  computed: {
    ...mapGetters("edit", ["journeys"])
  },
  methods: {
    del() {
      this.$store.dispatch("edit/remove", {
        map_id: this.$route.params.map,
        // @ts-ignore
        instance: this.journey
      });
      // @ts-ignore
      this.journey.start.remove();
      // @ts-ignore
      this.journey.end.remove();
      this.$router.push({ name: "edit-journeys" });
    },
    submit() {
      // @ts-ignore
      this.journey.name = this.name;
      // @ts-ignore
      this.journey.start_time = formatTimestamp(this.start_time);
      // @ts-ignore
      this.journey.max_vehicules = Number(this.nbCars);

      journeysServices.update_journey(
        this.$route.params.map,
        this.$route.params.id,
        // @ts-ignore
        this.journey.name,
        // @ts-ignore
        this.journey.coordinates,
        // @ts-ignore
        this.journey.start_time,
        // @ts-ignore
        this.journey.max_vehicules
      );

      this.$router.push({ name: "edit-journeys" });
    }
  },
  mounted() {
    // @ts-ignore
    let id = Number(this.$route.params.id);
    // @ts-ignore
    let journey: GeometryJourneysBase = this.journeys.find(
      (el: GeometryJourneysBase) => el.id === id
    );
    // @ts-ignore
    this.name = journey.name;
    // @ts-ignore
    this.start_time = formatTime(journey.start_time);
    // @ts-ignore
    this.nbCars = String(journey.max_vehicules);
    // @ts-ignore
    this.journey = journey;

    // @ts-ignore
    this.journey.start.pm.enable();
    // @ts-ignore
    this.journey.end.pm.enable();
  },
  destroyed() {
    // @ts-ignore
    this.journey.start.pm.disable();
    // @ts-ignore
    this.journey.end.pm.disable();
  }
});
</script>

<style scoped></style>
