<template>
  <list-base title="Trajets" icon="mdi-home-city">
    <v-list-item
      v-for="journey in journeys"
      :key="journey.id"
      :to="{
        name: 'edit-journeys-detail',
        params: { id: `${journey.id}`, map: $route.params.map }
      }"
    >
      <v-list-item-icon>
        <v-icon>mdi-square</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        {{ journey.name }}
      </v-list-item-content>
    </v-list-item>
    <v-list-item v-show="journeys.length === 0">
      <v-list-item-content>
        Pas de trajets a afficher.
      </v-list-item-content>
    </v-list-item>
  </list-base>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue")
  },
  computed: {
    ...mapGetters("edit", ["journeys"])
  }
});
</script>

<style scoped></style>
