<template>
  <vee-observer ref="obs" v-slot="{ invalid, validated, passes, validate }">
    <v-form @submit.prevent="passes(submit)">
      <list-base :title="'Routes ' + $route.params.id" icon="mdi-map-legend">
        <v-card-text>
          <v-text-field
            rules="required"
            v-model="name"
            label="Nom de la route"
            clearable
          />
          <v-text-field
            rules="required|numeric"
            v-model="max_speed"
            label="Limite de la vitesse"
            type="number"
            clearable
          />
        </v-card-text>
        <template v-slot:actions>
          <v-btn color="primary" text type="submit">
            Modifier
          </v-btn>
          <v-btn color="red" text @click="del">Supprimer</v-btn>
        </template>
      </list-base>
    </v-form>
  </vee-observer>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

import roadsServices from "../../services/roads";

import VTextField from "@/components/base/VTextField.vue";

import { GeometryRoadsBase } from "../../models/geometry";
export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue"),
    VTextField
  },
  data() {
    return {
      name: "",
      max_speed: ""
    };
  },
  computed: {
    ...mapGetters("edit", ["roads"])
  },
  methods: {
    del() {
      this.$store.dispatch("edit/remove", {
        map_id: this.$route.params.map,
        // @ts-ignore
        instance: this.road
      });
      this.$router.push({ name: "edit-roads" });
    },
    submit() {
      // @ts-ignore
      this.road.name = this.name;
      // @ts-ignore
      this.road.max_speed = Number(this.max_speed);

      this.$store.dispatch(
        "edit/update_road",
        // @ts-ignore
        { map_id: this.$route.params.map, road: this.road },
        { root: true }
      );

      this.$router.push({ name: "edit-roads" });
    }
  },
  mounted() {
    let id = Number(this.$route.params.id);
    // @ts-ignore
    let road: GeometryRoadsBase = this.roads.find(
      (el: GeometryRoadsBase) => el.id === id
    );

    // @ts-ignore
    this.name = road.name;
    // @ts-ignore
    this.max_speed = String(road.max_speed);
    // @ts-ignore
    this.road = road;

    // @ts-ignore
    this.road.pm.enable();
  },
  destroyed() {
    // @ts-ignore
    this.road.pm.disable();
  }
});
</script>

<style scoped></style>
