<template>
  <list-base title="Routes" icon="mdi-map-legend">
    <v-select
      label="Filtrer la liste par..."
      v-model="select"
      :items="filters"
      class="combobox"
      hide-selected
      no-data-text
      small-chips
      clearable
      no-filter
      chips
    >
      <template v-slot:item="{ item }">
        <v-list-item-icon>
          <v-icon :color="item.color" v-html="'mdi-square'"></v-icon>
        </v-list-item-icon>
        <v-list-item-content v-html="item.text"></v-list-item-content>
      </template>
    </v-select>
    <v-list-item
      v-for="road in filterRoads"
      :key="road.id"
      :to="{
        name: 'edit-roads-detail',
        params: { id: `${road.id}`, map: $route.params.map }
      }"
    >
      <v-list-item-icon>
        <v-icon :color="road.options.color" v-html="'mdi-square'"></v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        {{ road.name }}
      </v-list-item-content>
    </v-list-item>
    <v-list-item v-show="filterRoads.length === 0">
      <v-list-item-content>
        Pas de routes a afficher.
      </v-list-item-content>
    </v-list-item>
  </list-base>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import { GeometryRoadsBase } from "../../models/geometry";

export default Vue.extend({
  components: {
    ListBase: () => import("@/components/base/ListBase.vue")
  },
  computed: {
    ...mapGetters("edit", ["roads"])
  },
  data() {
    return {
      filters: [
        { text: "zone 30", value: 30, color: "orange" },
        { text: "zone 50", value: 50, color: "lime" },
        { text: "zone 70", value: 70, color: "green" },
        { text: "zone 80", value: 80, color: "indigo" },
        { text: "zone 90", value: 90, color: "indigo" },
        { text: "zone 110", value: 110, color: "blue" },
        { text: "zone 130", value: 130, color: "purple" }
      ],
      filterRoads: [],
      select: ""
    };
  },
  watch: {
    select() {
      if (this.select)
        this.filterRoads = this.roads.filter((road: GeometryRoadsBase) => {
          // @ts-ignore
          return road.max_speed === this.select;
        });
      else this.filterRoads = this.roads;
    },
    roads() {
      this.filterRoads = this.roads;
    }
  },
  mounted() {
    if (this.roads) this.filterRoads = this.roads;
  }
});
</script>

<style>
.combobox > div > div > div > div > input {
  max-width: 10px;
}
</style>
