<template>
  <v-col cols="12" sm="8" md="4">
    <v-card>
      <v-toolbar dark>
        <v-toolbar-title> Changer le mot de passe </v-toolbar-title>
      </v-toolbar>
      <vee-observer ref="obs" v-slot="{ invalid, validated, passes, validate }">
        <v-card-text>
          <v-form>
            <v-text-field
              rules="required"
              v-model="password"
              vid="password"
              label="Mot de passe"
              type="password"
              prepend-icon="mdi-lock"
              clearable
            />
            <v-text-field
              rules="required|confirmed:password"
              v-model="verify"
              label="Confirmer le mot de passe"
              type="password"
              prepend-icon="mdi-lock"
              clearable
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="success" @click="passes(submit)"> Modifier </v-btn>
        </v-card-actions>
      </vee-observer>
    </v-card>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions } from "vuex";

export default Vue.extend({
  components: {
    VTextField: () => import("@/components/base/VTextField.vue")
  },
  data() {
    return {
      password: "",
      verify: ""
    };
  },
  methods: {
    ...mapActions("user", {
      change_password: "change_password"
    }),
    async submit() {
      // @ts-ignore
      this.change_password({
        token: this.$route.params.token,
        password: this.password,
        verify: this.verify
      });
    }
  }
});
</script>

<style scoped></style>
