<template>
  <v-container fill-height>
    <v-layout row wrap align-center>
      <v-flex class="text-center">
        <v-row align="center" justify="center">
          <router-view></router-view>
        </v-row>
      </v-flex>
    </v-layout>
  </v-container>
</template>
