<template>
  <v-col cols="12" sm="8" md="4">
    <v-card>
      <v-toolbar dark>
        <v-toolbar-title> Connexion </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <vee-observer
          ref="obs"
          v-slot="{ invalid, validated, passes, validate }"
        >
          <v-form @submit.prevent="passes(submit)">
            <v-text-field
              rules="required|email"
              v-model="email"
              label="E-mail"
              prepend-icon="mdi-account"
              clearable
            />
            <v-text-field
              rules="required"
              v-model="password"
              label="Mot de passe"
              type="password"
              prepend-icon="mdi-lock"
              clearable
            />
            <v-checkbox
              rules=""
              v-model="remember"
              label="Se souvenir de moi ?"
            />
            <v-btn color="success" type="submit"> Se connecter </v-btn>
          </v-form>
        </vee-observer>
      </v-card-text>
      <v-card-actions class="d-block text-left">
        <v-btn
          class="ml-2 mt-2"
          tile
          outlined
          color="info"
          :to="{ name: 'register' }"
        >
          <v-icon left>mdi-account-plus</v-icon> S'enregistrer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapGetters } from "vuex";

import { UserLogin } from "../../models/user";

import VTextField from "@/components/base/VTextField.vue";
import VCheckbox from "@/components/base/VCheckbox.vue";

export default Vue.extend({
  components: {
    VTextField,
    VCheckbox
  },
  data: () => ({
    email: "",
    password: "",
    remember: ""
  }),
  methods: {
    ...mapActions("user", ["login"]),
    async submit() {
      let credentials: UserLogin = {
        email: this.email,
        password: this.password
      };
      // @ts-ignore
      this.login(credentials);
    }
  }
});
</script>

<style scoped></style>
