<template>
  <v-col cols="12" sm="8" md="4">
    <v-card>
      <v-toolbar dark>
        <v-toolbar-title> Nouveau Compte </v-toolbar-title>
      </v-toolbar>
      <vee-observer ref="obs" v-slot="{ invalid, validated, passes, validate }">
        <v-form @submit.prevent="passes(submit)">
          <v-card-text>
            <v-text-field
              rules="required|email"
              v-model="email"
              label="E-mail"
              prepend-icon="mdi-account"
              clearable
            />

            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  rules="required"
                  v-model="first_name"
                  label="Prénom"
                  prepend-icon="mdi-account-card-details"
                  clearable
                />
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  rules="required"
                  v-model="last_name"
                  label="Nom"
                  prepend-icon="mdi-account-card-details"
                  clearable
                />
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  vid="password"
                  rules="required"
                  v-model="password"
                  label="Mot de passe"
                  type="password"
                  prepend-icon="mdi-lock"
                  clearable
                />
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  rules="required|confirmed:password"
                  v-model="confirm_password"
                  label="Confirmer Mot de passe"
                  type="password"
                  prepend-icon="mdi-lock"
                  clearable
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="success" type="submit"> S'enregistrer </v-btn>
            <v-spacer />
          </v-card-actions>
        </v-form>
      </vee-observer>
    </v-card>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions } from "vuex";
import { UserRegister } from "../../models/user";

import VTextField from "@/components/base/VTextField.vue";

export default Vue.extend({
  components: {
    VTextField
  },
  data() {
    return {
      email: "",
      first_name: "",
      last_name: "",

      password: "",
      confirm_password: ""
    };
  },
  methods: {
    ...mapActions("user", ["login", "register"]),
    async submit() {
      let newAccount: UserRegister = {
        email: this.email,
        first_name: this.first_name,
        last_name: this.last_name,
        password: this.password
      };
      // @ts-ignore
      this.register(newAccount);
    }
  }
});
</script>

<style scoped></style>
