<template>
  <v-app>
    <core-header></core-header>
    <core-content>
      <core-alert></core-alert>

      <router-view></router-view>
    </core-content>
    <core-footer></core-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  components: {
    "core-header": () => import("@/views/core/header.vue"),
    "core-content": () => import("@/views/core/content.vue"),
    "core-footer": () => import("@/views/core/footer.vue"),
    "core-alert": () => import("@/views/core/alert.vue")
  }
});
</script>
