<template>
  <l-map
    :zoom="zoom"
    :center="center"
    :options="options"
    @ready="initialize"
    @update:zoom="zoomUpdated"
    @update:center="centerUpdated"
    @update:bounds="boundsUpdated"
    @pm:create="pmAddFeature"
    style=" z-index: 1;"
  >
    <l-tile-layer :url="url" :attribution="$store.state.credit"></l-tile-layer>
    <l-control
      position="topleft"
      class="leaflet-pm-toolbar leaflet-bar leaflet-control"
    >
      <div class="button-container" style="background-color: white;">
        <tool-roads
          :selection.sync="type"
          @update:draw="startOrStopDraw"
          v-show="$route.name === 'edit-roads'"
        />
        <tool-journeys
          :selection.sync="type"
          @update:draw="startOrStopDraw"
          v-show="$route.name === 'edit-journeys'"
        />
        <tool-events
          :selection.sync="type"
          @update:draw="startOrStopDraw"
          v-show="$route.name === 'edit-events'"
        />
      </div>
    </l-control>
  </l-map>
</template>

<script lang="ts">
import Vue from "vue";

import L, { Map, LatLng, Polyline, latLng } from "leaflet";
import { LMap, LTileLayer, LControl } from "vue2-leaflet";

import "@geoman-io/leaflet-geoman-free";
import { GeoSearchControl, EsriProvider } from "leaflet-geosearch";
import { GeoSearchControlOptions, PmObjCreate } from "./types";

import * as Geometry from "../../models/geometry";
import ToolRoads from "./ToolRoads.vue";
import ToolJourneys from "./ToolJourneys.vue";
import ToolEvents from "./ToolEvents.vue";

import mapService from "../../services/map";

// @ts-ignore
import translations from "../../assets/translations/translations";

const optionsGeosearch: GeoSearchControlOptions = {
  searchLabel: "Entrer une adresse",
  provider: new EsriProvider(),
  showMarker: false,
  style: "bar"
};

let map: Map;

let removeDuplicates = (arr: any) =>
  arr.filter((item: any, index: number) => {
    if (index + 1 === arr.length) return true;
    else
      return (
        arr[index][0] !== arr[index + 1][0] &&
        arr[index][1] !== arr[index + 1][1]
      );
  });

export default Vue.extend({
  components: {
    "l-map": LMap,
    "l-control": LControl,
    "l-tile-layer": LTileLayer,
    "tool-roads": ToolRoads,
    "tool-journeys": ToolJourneys,
    "tool-events": ToolEvents
  },
  data() {
    return {
      zoom: 15,
      options: {},
      center: new LatLng(0, 0),
      bounds: null,
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",

      controlGeosearch: new GeoSearchControl(optionsGeosearch),
      isDrawing: false,
      type: 0,
      tempLatlng: [],
      tempObj: undefined,
      selfIntersect: false,
      map: map
    };
  },
  methods: {
    zoomUpdated(zoom: number) {
      this.zoom = zoom;
    },
    centerUpdated(center: LatLng) {
      this.center = center;
    },
    boundsUpdated(bounds: any) {
      this.bounds = bounds;
    },

    pmAddFeature(pmObj: PmObjCreate) {
      // @ts-ignore
      // eslint-disable-next-line prettier/prettier
      let latlng_s = pmObj.shape === "Line" ? pmObj.layer.getLatLngs().map(e => { return [e.lat, e.lng]}) : [pmObj.layer.getLatLng().lat, pmObj.layer.getLatLng().lng];

      // @ts-ignore
      if (this.selfIntersect) {
        latlng_s.push(latlng_s[0]);
        // @ts-ignore
        this.selfIntersect = false;
      }

      // case Journey
      if (this.type === -1 && this.tempLatlng.length === 0) {
        this.tempLatlng = latlng_s;
        // @ts-ignore
        this.tempObj = pmObj.layer;
        // @ts-ignore
        this.map.pm.disableDraw();
        // @ts-ignore
        this.map.pm.enableDraw(pmObj.shape, Geometry.WorkOptions);
      } else {
        let coords =
          this.tempLatlng.length === 0 ? latlng_s : [this.tempLatlng, latlng_s];

        this.$store.dispatch("edit/create", {
          map_id: this.$route.params.map,
          type: this.type, // see create func on store
          coords: removeDuplicates(coords)
        });

        this.tempLatlng = []; // reset case Journey
        this.map.removeLayer(pmObj.layer);
        if (this.tempObj)
          // @ts-ignore
          this.map.removeLayer(this.tempObj);
        this.tempObj = undefined;
        this.startOrStopDraw({});
      }
    },

    // @ts-ignore
    startOrStopDraw({ shape, pmOptions }) {
      if (!this.isDrawing) {
        this.isDrawing = true;
        // @ts-ignore
        this.map.pm.enableDraw(shape, pmOptions);
      } else {
        this.isDrawing = false;
        this.tempLatlng = [];
        // @ts-ignore
        this.map.pm.disableDraw();
      }
    },

    async initialize(obj: Map) {
      // TODO: create an extends of Map to add geoman.io typescript support
      // 2
      this.map = obj;
      await mapService
        .get_map(this.$route.params.map)
        .then((resp: any) => {
          this.map.setView(resp.data.center, 15);
          this.map.addControl(this.controlGeosearch);
          this.$store.dispatch("edit/initialize", this.map, { root: true });
          // @ts-ignore
          this.map.pm.setLang("fr", translations);
        })
        .catch((err: any) => {
          this.$router.push({ name: "no-map" });
        });

      await this.$nextTick(() => {
        // 4
        this.$store.dispatch("edit/fetch_data", this.$route.params.map, {
          root: true
        });

        /////////////////////////////// Draw a temp line for snapping support ////////////////

        let myline: Polyline;
        // @ts-ignore
        this.map.on("pm:drawstart", ({ workingLayer, shape }) => {
          let fist_marker;
          if (shape === "Line") {
            myline = new Polyline(workingLayer.getLatLngs());
            myline.addTo(this.map);

            workingLayer.on("pm:vertexadded", (e: any) => {
              myline.addLatLng(e.latlng);
              e.marker.off("click");
              e.marker.on("click", (e: any) => {
                workingLayer.addLatLng(e.latlng);
              });
              e.marker.on("contextmenu", (e: any) => {
                workingLayer.addLatLng(e.latlng);
                this.map.fire("contextmenu");
              });
            });
          }
        });
        // @ts-ignore
        this.map.on("pm:drawend", ({ shape }) => {
          if (shape === "Line" && myline) myline.remove();
        });
      });
    }
  },
  destroyed() {
    this.$store.dispatch("edit/unload", { root: true });
  }
});
</script>

<style scoped></style>
