<template>
  <l-map
    :zoom="zoom"
    :center="center"
    :options="options"
    @ready="init"
    @update:zoom="zoomUpdated"
    @update:center="centerUpdated"
    @update:bounds="boundsUpdated"
    style=" z-index: 1;"
  >
    <l-tile-layer :url="url" :attribution="$store.state.credit"></l-tile-layer>
    <l-feature-group ref="roads"></l-feature-group>
    <l-geo-json :geojson="tempgeojson"></l-geo-json>
  </l-map>
</template>

<script lang="ts">
/* eslint-disable vue/no-side-effects-in-computed-properties */
import Vue from "vue";
import mapService from "../../services/map";
import * as Geometry from "../../models/geometry";

import L, { Map, LatLng, Polyline, FeatureGroup } from "leaflet";
import { LMap, LTileLayer, LFeatureGroup, LGeoJson } from "vue2-leaflet";

import SimulationService from "../../services/simulation";
import { mapGetters, mapActions, mapState } from "vuex";
import { createRoad, createJourney } from "../../store/edit/actions";

let map: Map;
let featureGroup: FeatureGroup;
// @ts-nocheck
export default Vue.extend({
  props: {
    id: {
      type: String,
      required: true
    }
  },
  components: {
    "l-map": LMap,
    "l-tile-layer": LTileLayer,
    "l-feature-group": LFeatureGroup,
    "l-geo-json": LGeoJson
  },
  data() {
    return {
      zoom: 15,
      options: {},
      center: new LatLng(0, 0),
      bounds: null,
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      timer: 0,
      map: map,
      roads: featureGroup,

      // simulation
      tempgeojson: {
        type: "FeatureCollection",
        features: []
      },
      buffer: [],
      k: 0
    };
  },
  computed: {
    ...mapGetters("simulation", [
      "startTime",
      "currentTime",
      "isPlaying",

      ////
      "speed",
      "reload",
      "buffer_len"
    ])
  },
  watch: {
    reload() {
      if (this.reload) {
        // @ts-ignore
        this.$store.state.simulation.player = false;
        this.$store.state.simulation.disabled = true;
        // @ts-ignore
        // eslint-disable-next-line prettier/prettier
        SimulationService.get_stream_simulation(`${this.id}`, this.currentTime, this.buffer_len)
          .then((resp: any) => {
            if (resp.data.code) {
              this.$store.state.simulation.reload = false;
              setTimeout(() => {
                this.$store.state.simulation.reload = true;
              }, 10000);
              this.$store.dispatch(
                "alert/warning",
                "La simulation est en cours de calcule.",
                { root: true }
              );
            } else {
              // @ts-ignore
              this.buffer = resp.data;
              // @ts-ignore
              this.k = 0;
              this.$store.state.simulation.reload = false;
              this.$store.state.simulation.disabled = false;
              this.$store.state.simulation.next_buffer =
                this.currentTime + this.buffer_len - 10;

              // @ts-ignore
              if (this.currentTime !== this.startTime)
                this.$store.state.simulation.player = true;
            }
          })
          .catch((err: any) => {
            this.$store.dispatch(
              "alert/error",
              "erreur pour récupérer les données de la simulation.",
              { root: true }
            );
            this.$store.state.simulation.disabled = true;
          });
      }
    },
    currentTime() {
      if (this.k >= 0 && this.isPlaying) {
        // @ts-ignore
        this.tempgeojson = this.buffer[this.k];
        this.k++;
      }
    }
  },
  methods: {
    zoomUpdated(zoom: number) {
      // @ts-ignore
      this.zoom = zoom;
    },
    centerUpdated(center: LatLng) {
      // @ts-ignore
      this.center = center;
    },
    boundsUpdated(bounds: any) {
      // @ts-ignore
      this.bounds = bounds;
    },
    ...mapActions("simulation", [
      "initialize",
      "addMap",
      "delMap",
      "update_start"
    ]),
    async init(obj: Map) {
      // @ts-ignore
      this.map = obj;
      // @ts-ignore
      this.roads = this.$refs.roads.mapObject;
      // @ts-ignore
      this.roads.addTo(this.map);

      mapService
        .get_map(this.id)
        .then((resp: any) => {
          // @ts-ignore
          this.map.setView(resp.data.center, 15);

          resp.data.roads.forEach((road: any) => {
            // @ts-ignore
            this.roads.addLayer(createRoad(this.id, road, false));
          });

          resp.data.journeys.forEach((journey: any) => {
            let j = createJourney(this.id, journey, false);
            // @ts-ignore
            this.roads.addLayer(j.start);
            // @ts-ignore
            this.roads.addLayer(j.end);
            // @ts-ignore
            this.update_start(journey.start_time);
          });

          // @ts-ignore
          this.initialize();
          // @ts-ignore
          this.addMap(this.id);
        })
        .catch((err: any) => {
          // cancel the opening (aka remove the 'id' from the query and send a message)
          // @ts-ignore
          // eslint-disable-next-line prettier/prettier
          let maps: string = this.$route.query.maps.split(",").filter((id: string) => id !== this.id).join(",");

          this.$router.push({ name: "simulation", query: { maps: maps } });
          this.$store.state.simulation.disabled = true;
          this.$store.dispatch(
            "alert/error",
            "erreur pour récupérer les données de la carte.",
            { root: true }
          );
        });
    }
  },
  destroyed() {
    // @ts-ignore
    this.delMap(this.id);
  }
});
// @ts-check
</script>

<style scoped></style>
