<template>
  <div style="display: grid;">
    <v-btn
      icon
      small
      id="v-btn"
      @click="highWaySelected"
      class="leaflet-buttons-control-button"
      title="Autoroute"
    >
      <v-icon class="control-icon" id="v-icon">
        130
      </v-icon>
    </v-btn>
    <v-btn
      icon
      small
      id="v-btn"
      @click="zone110Selected"
      class="leaflet-buttons-control-button"
      title="Route nationale"
    >
      <v-icon class="control-icon" id="v-icon">
        110
      </v-icon>
    </v-btn>
    <v-btn
      icon
      small
      id="v-btn"
      @click="zone90Selected"
      class="leaflet-buttons-control-button"
      title="Route départementale"
    >
      <v-icon class="control-icon" id="v-icon">
        90
      </v-icon>
    </v-btn>
    <v-btn
      icon
      small
      id="v-btn"
      @click="zone80Selected"
      class="leaflet-buttons-control-button"
      title="Route communale"
    >
      <v-icon class="control-icon" id="v-icon">
        80
      </v-icon>
    </v-btn>
    <v-btn
      icon
      small
      id="v-btn"
      @click="zone70Selected"
      class="leaflet-buttons-control-button"
      title="Route communale"
    >
      <v-icon class="control-icon" id="v-icon">
        70
      </v-icon>
    </v-btn>
    <v-btn
      icon
      small
      id="v-btn"
      @click="zone50Selected"
      class="leaflet-buttons-control-button"
      title="Aglomération"
    >
      <v-icon class="control-icon" id="v-icon">
        50
      </v-icon>
    </v-btn>
    <v-btn
      icon
      small
      id="v-btn"
      @click="zone30Selected"
      class="leaflet-buttons-control-button"
      title="Zone 30"
    >
      <v-icon class="control-icon" id="v-icon">
        30
      </v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import * as Geometry from "../../models/geometry";

export default Vue.extend({
  data() {
    return {
      pmOptions: {
        snapDistance: 20,
        finishOn: "contextmenu"
      }
    };
  },
  methods: {
    highWaySelected() {
      this.$emit("update:selection", 130);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    },
    zone110Selected() {
      this.$emit("update:selection", 110);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    },
    zone90Selected() {
      this.$emit("update:selection", 90);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    },
    zone80Selected() {
      this.$emit("update:selection", 80);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    },
    zone70Selected() {
      this.$emit("update:selection", 70);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    },
    zone50Selected() {
      this.$emit("update:selection", 50);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    },
    zone30Selected() {
      this.$emit("update:selection", 30);
      this.$emit("update:draw", {
        shape: "Line",
        pmOptions: this.pmOptions
      });
    }
  }
});
</script>

<style scoped>
#v-icon {
  color: black;

  border-radius: 15px;
  border-color: red;
  border-style: solid;
  border-width: 3px;

  font-style: normal;
  font-weight: bold;
  font-size: 10px !important;
}

#v-btn {
  margin-bottom: 3px;
}
</style>
