<template>
  <div style="display: grid;">
    <v-btn
      icon
      small
      @click="journeySelected"
      class="leaflet-buttons-control-button"
    >
      <v-icon small class="control-icon">mdi-map-marker</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      pmOptions: {
        markerStyle: {
          draggable: true
        }
      }
    };
  },
  methods: {
    journeySelected() {
      this.$emit("update:selection", -1);
      this.$emit("update:draw", {
        shape: "Marker",
        pmOptions: this.pmOptions
      });
    }
  }
});
</script>

<style scoped></style>
