<template>
  <div style="display: grid;">
    <v-btn
      icon
      small
      @click="eventSelected"
      class="leaflet-buttons-control-button"
    >
      <v-icon small class="control-icon">mdi-map-marker</v-icon>
    </v-btn>
    <v-btn
      icon
      small
      @click="closedRoadSelected"
      class="leaflet-buttons-control-button"
    >
      <v-icon small class="control-icon">mdi-block-helper</v-icon>
    </v-btn>
    <v-btn
      icon
      small
      @click="rainSelected"
      class="leaflet-buttons-control-button"
    >
      <v-icon small class="control-icon">mdi-weather-rainy</v-icon>
    </v-btn>
    <v-btn
      icon
      small
      @click="snowSelected"
      class="leaflet-buttons-control-button"
    >
      <v-icon small class="control-icon">mdi-weather-snowy</v-icon>
    </v-btn>
    <v-btn
      icon
      small
      @click="trafficLightSelected"
      class="leaflet-buttons-control-button"
    >
      <v-icon small class="control-icon">mdi-traffic-light</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {
  GeometryEvent,
  GeometryClosedRoad,
  GeometryRain,
  GeometrySnow,
  GeometryTrafficLight
} from "../../models/geometry";

// TO IMPORT :
/*
  GeometryAccident
  GeometryStoppedCar
  GeometryWorkRoad
*/

export default Vue.extend({
  data() {
    return {
      pmOptions: {
        markerStyle: {
          draggable: true,
          icon: {}
        }
      }
    };
  },
  methods: {
    eventSelected() {
      this.$emit("update:selection", GeometryEvent);
      this.$emit("update:draw", { shape: "Marker", pmOptions: this.pmOptions });
    },
    closedRoadSelected() {
      this.$emit("update:selection", GeometryClosedRoad);
      this.$emit("update:draw", { shape: "Marker", pmOptions: this.pmOptions });
    },
    rainSelected() {
      this.$emit("update:selection", GeometryRain);
      this.$emit("update:draw", { shape: "Marker", pmOptions: this.pmOptions });
    },
    snowSelected() {
      this.$emit("update:selection", GeometrySnow);
      this.$emit("update:draw", { shape: "Marker", pmOptions: this.pmOptions });
    },
    trafficLightSelected() {
      this.$emit("update:selection", GeometryTrafficLight);
      this.$emit("update:draw", { shape: "Marker", pmOptions: this.pmOptions });
    }
  }
});
</script>

<style scoped></style>
