<template>
  <v-dialog
    v-model="isOn"
    width="500"
    @keydown.esc="$emit('update:isOn', false)"
    @click:outside="$emit('update:isOn', false)"
    persistent
  >
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Créer une nouvelle carte...
        <v-spacer />
        <v-btn color="primary" icon @click="$emit('update:isOn', false)" dense>
          <v-icon color="red">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <vee-observer ref="obs" v-slot="{ invalid, passes }">
        <v-form @submit.prevent="passes(submit)">
          <v-card-text>
            <v-text-field
              rules="required"
              v-model="name"
              label="Nom de la carte"
              clearable
            />
            <v-autocomplete
              label="Centrer la carte à l'adresse suivante..."
              v-model="location"
              :items="items"
              :search-input.sync="search"
              hide-no-data
              hide-details
              :disabled="!!(fromMap + 1)"
              clearable
            ></v-autocomplete>
            <v-row>
              <v-col>
                <v-switch
                  v-model="isPublic"
                  label="La carte est publique ?"
                  color="primary"
                ></v-switch>
              </v-col>
              <v-col>
                <v-select
                  label="Depuis le carte"
                  v-model="fromMap"
                  item-value="id"
                  hide-selected
                  :items="maps"
                  clearable
                >
                  <template v-slot:item="{ item }">
                    <v-list-item-content class="inline">
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                      <v-icon
                        dense
                        v-html="item.public ? 'mdi-earth' : 'mdi-lock'"
                      ></v-icon>
                    </v-list-item-content>
                  </template>
                  <template v-slot:selection="{ item }">
                    <v-list-item-content>
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-select>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary" text type="submit" :disabled="invalid">
              Creer
            </v-btn>
          </v-card-actions>
        </v-form>
      </vee-observer>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";

import VTextField from "@/components/base/VTextField.vue";

import { EsriProvider } from "leaflet-geosearch";
import mapServices from "../../services/map";
import { Map } from "../../models/maps";

export default Vue.extend({
  props: {
    isOn: {
      type: Boolean,
      default: false
    }
  },
  components: {
    VTextField
  },
  data() {
    return {
      name: "",
      isPublic: false,
      location: [],
      items: [],
      provider: new EsriProvider(),
      search: null,
      fromMap: undefined,
      maps: []
    };
  },
  mounted() {
    mapServices.list_maps("", "read").then((resp: any) => {
      this.maps = resp.data;
    });
  },
  methods: {
    clear() {
      this.name = "";
      this.isPublic = false;
      this.location = [];
      // @ts-ignore
      this.$refs.obs.reset();
    },
    submit: function() {
      const newMap: Map = {
        title: this.name,
        public: this.isPublic,
        center: this.location
      };

      if (this.fromMap) {
        delete newMap.center;
        mapServices
          .duplicate_map(Number(this.fromMap), newMap)
          .then((resp: any) => {
            this.$emit("update:isOn", false);
            this.clear();
            // redirect after created
            this.$emit("update:redirect", resp.data.id);
          })
          .catch((err: any) => {
            this.name = "";
            if (err.code === 409)
              this.$store.dispatch(
                "alert/error",
                "Le nom de la map existe déjà !",
                { root: true }
              );
            else this.$store.dispatch("alert/error", err, { root: true });
          });
      } else {
        mapServices
          .create_map(newMap)
          .then((resp: any) => {
            this.$emit("update:isOn", false);
            this.clear();
            // redirect after created
            this.$emit("update:redirect", resp.data.id);
          })
          .catch((err: any) => {
            this.name = "";
            if (err.code === 409)
              this.$store.dispatch(
                "alert/error",
                "Le nom de la map existe déjà !",
                { root: true }
              );
            else this.$store.dispatch("alert/error", err, { root: true });
          });
      }
    }
  },
  watch: {
    search: function(val: string) {
      if (!val) return;
      this.provider.search({ query: val }).then(rep => {
        // @ts-ignore
        this.items = rep.map(obj => {
          return { text: obj.label, value: [obj.y, obj.x] };
        });
      });
    }
  }
});
</script>

<style scoped>
.inline {
  display: -webkit-box !important;
}
</style>
