<template>
  <v-dialog
    v-model="isOn"
    width="500"
    @keydown.esc="$emit('update:isOn', false)"
    @click:outside="$emit('update:isOn', false)"
    persistent
  >
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Ouvrir une carte...
        <v-spacer />
        <v-btn color="primary" icon @click="$emit('update:isOn', false)" dense>
          <v-icon color="red">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <!-- Bar de recherche -->
      <v-card-text>
        <v-text-field
          class="mt-3"
          v-model="search"
          label="Rechercher dans mes cartes"
          prepend-icon="mdi-map-search"
          clearable
        />
        <!-- Liste des cartes -->
        <v-list dense>
          <v-list-item v-show="maps.length < 1">
            <v-list-item-content class="inline">
              Pas de carte à afficher.
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            @click.stop="selectMap(map.id)"
            v-for="(map, index) in maps"
            :key="index"
            selectable
          >
            <v-list-item-content class="inline">
              <v-list-item-title>{{ map.title }}</v-list-item-title>
              <v-icon
                dense
                v-html="map.public ? 'mdi-earth' : 'mdi-lock'"
              ></v-icon>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";

import mapServices from "../../services/map";
import { Map } from "../../models/maps";

export default Vue.extend({
  props: {
    isOn: {
      type: Boolean,
      default: false
    },
    disable: {
      default: () => []
    },
    scope: {
      default: "read"
    }
  },
  data() {
    return {
      search: "",
      maps: []
    };
  },
  methods: {
    searchMaps() {
      mapServices.list_maps(this.search, this.scope).then((resp: any) => {
        this.maps = resp.data.filter((map: any) => {
          // @ts-ignore
          return !this.disable.includes(String(map.id));
        });
      });
    },
    selectMap(id: number) {
      this.$emit("update:redirect", id);
      this.$emit("update:isOn", false);
    }
  },
  mounted() {
    this.searchMaps();
  },
  watch: {
    search() {
      this.searchMaps();
    }
  }
});
</script>

<style scoped>
.inline {
  display: -webkit-box !important;
}
</style>
